<!--<appSettings>
  <add key="encryptedValues" value="false"/>
  <add key="connectionString" value="Data Source=192.168.88.93;Initial Catalog=ACUAMA_GUADALAJARA_DESA;Persist Security Info=True;User ID=admAcuama;Password=1234Sacyr"/>
  <add key="ssrsDomainName" value="localhost\bolson"/>
  <add key="ssrsReportServerUrl" value="http://localhost:81/ReportServer_BOLSON"/>
  <add key="ssrsReportExecutionServiceUrl" value="http://localhost:81/ReportServer_BOLSON/ReportExecution2005.asmx" />
  <add key="ssrsReportPath" value="Acuama/_comun"/>
  <add key="ssrsUserName" value="flgarciad"/>
  <add key="ssrsPassWord" value="a123456B"/>

  <add key="webserviceURL" value="https://10.150.8.132:9443/entrada_fuse/services/ProcesarLoteSII" />
  <add key="username" value="sacyr_acuama_ws" />
  <add key="password" value="S4C1R.S.4" />
</appSettings>-->

<appSettings>
  <add key="encryptedValues" value="false"/>
  <add key="connectionString" value="Data Source=sqldesa41;Initial Catalog=ACUAMA_GUADALAJARA_DESA;Persist Security Info=True;User ID=D3ploy2020;Password=Mayo2020" />
  <add key="ssrsDomainName" value="RPTDESA41" />
  <add key="ssrsReportExecutionServiceUrl" value="http://RPTDESA41/ReportServer/ReportExecution2005.asmx" />
  <add key="ssrsReportServerUrl" value="http://RPTDESA41/Reportserver" />
  <add key="ssrsReportPath" value="Acuama_DESA/SORIA" />
  <add key="ssrsUserName" value="RptAdmin" />
  <add key="ssrsPassWord" value="Y\/9EZE;" />

  <add key="webserviceURL" value="http://10.150.8.132:9080/entrada_fuse/services/ProcesarLoteSII" />
  <add key="username" value="sacyr_acuama_ws" />
  <add key="password" value="S4C1R.S.4" />
</appSettings>