USE [ACUAMA_GUADALAJARA_PRE]
GO
/****** Object:  Table [Indicadores].[IndicadoresConfig]    Script Date: 18/11/2022 12:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Indicadores].[IndicadoresConfig](
	[indAcr] [varchar](5) NOT NULL,
	[indDescripcion] [varchar](150) NOT NULL,
	[indAnotaciones] [varchar](max) NOT NULL,
	[indPeriodicidad] [char](1) NOT NULL,
	[indUnidad] [varchar](15) NOT NULL,
	[indAcuama] [varchar](max) NOT NULL,
	[indFuncion] [varchar](max) NOT NULL,
	[indFuncionInfo] [varchar](250) NOT NULL,
	[indUsrCod] [varchar](10) NOT NULL,
	[indActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Indicadores] PRIMARY KEY CLUSTERED 
(
	[indAcr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [Indicadores].[IndicadoresConfig] ([indAcr], [indDescripcion], [indAnotaciones], [indPeriodicidad], [indUnidad], [indAcuama], [indFuncion], [indFuncionInfo], [indUsrCod], [indActivo]) VALUES (N'N003', N'TIEMPO MEDIO RESPUESTA RECLAMACIONES', N'', N'M', N'Días', N'Dias que permanecen abiertas gestiones del grupo RS Reclamaciones,dividido entre el numero de gestiones para todas las gestiones ceradas hace un año respecto al mes anterior del actual.', N'DECLARE @IND_SUM NUMERIC(14,4), @IND_AVG NUMERIC(14,4), @IND_PREV NUMERIC(14,4);  
	SELECT @IND_SUM = ISNULL(SUM(dRespuesta), 0), @IND_AVG = ISNULL(AVG(dRespuesta), 0) FROM [Indicadores].[fRespuestasReclamaciones](@fDesde, @fHasta, @RECLAMACION) WHERE rclFecCierre IS NOT NULL;
	SELECT @IND_PREV = ISNULL(SUM(dRespuesta), 0) FROM [Indicadores].[fRespuestasReclamaciones](@fDesdeAnt, @fHastaAnt, @RECLAMACION) WHERE rclFecCierre IS NOT NULL;	
	SET  @INDICADOR = IIF(@IND_PREV=0, @IND_AVG, CAST(@IND_SUM/@IND_PREV AS  NUMERIC(14,4)));', N'Media días', N'gmdesousa', 1)
GO
ALTER TABLE [Indicadores].[IndicadoresConfig] ADD  CONSTRAINT [IndUnidad_Default]  DEFAULT ('??') FOR [indUnidad]
GO
ALTER TABLE [Indicadores].[IndicadoresConfig]  WITH CHECK ADD  CONSTRAINT [FK_IndicadoresUsuarios] FOREIGN KEY([indUsrCod])
REFERENCES [dbo].[usuarios] ([usrcod])
GO
ALTER TABLE [Indicadores].[IndicadoresConfig] CHECK CONSTRAINT [FK_IndicadoresUsuarios]
GO
