USE [ACUAMA_AVG]
GO
/****** Object:  Table [dbo].[tarval]    Script Date: 15/02/2023 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarval](
	[trvsrvcod] [smallint] NOT NULL,
	[trvtrfcod] [smallint] NOT NULL,
	[trvfecha] [datetime] NOT NULL,
	[trvfechafin] [datetime] NULL,
	[trvcuota] [decimal](10, 4) NULL,
	[trvprecio1] [decimal](10, 6) NULL,
	[trvprecio2] [decimal](10, 6) NULL,
	[trvprecio3] [decimal](10, 6) NULL,
	[trvprecio4] [decimal](10, 6) NULL,
	[trvprecio5] [decimal](10, 6) NULL,
	[trvprecio6] [decimal](10, 6) NULL,
	[trvprecio7] [decimal](10, 6) NULL,
	[trvprecio8] [decimal](10, 6) NULL,
	[trvprecio9] [decimal](10, 6) NULL,
	[trvlegalavb] [varchar](50) NULL,
	[trvlegal] [varchar](200) NULL,
	[trvumdcod] [varchar](4) NULL,
 CONSTRAINT [PK_tarval] PRIMARY KEY CLUSTERED 
(
	[trvsrvcod] ASC,
	[trvtrfcod] ASC,
	[trvfecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio1]  DEFAULT ((0)) FOR [trvprecio1]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio2]  DEFAULT ((0)) FOR [trvprecio2]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio3]  DEFAULT ((0)) FOR [trvprecio3]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio4]  DEFAULT ((0)) FOR [trvprecio4]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio5]  DEFAULT ((0)) FOR [trvprecio5]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio6]  DEFAULT ((0)) FOR [trvprecio6]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio7]  DEFAULT ((0)) FOR [trvprecio7]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio8]  DEFAULT ((0)) FOR [trvprecio8]
GO
ALTER TABLE [dbo].[tarval] ADD  CONSTRAINT [DF_tarval_trvprecio9]  DEFAULT ((0)) FOR [trvprecio9]
GO
ALTER TABLE [dbo].[tarval]  WITH CHECK ADD  CONSTRAINT [FK_tarval_tarifas] FOREIGN KEY([trvsrvcod], [trvtrfcod])
REFERENCES [dbo].[tarifas] ([trfsrvcod], [trfcod])
GO
ALTER TABLE [dbo].[tarval] CHECK CONSTRAINT [FK_tarval_tarifas]
GO
