USE [ACUAMA_AVG]
GO
/****** Object:  Table [dbo].[tarifas]    Script Date: 15/02/2023 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifas](
	[trfsrvcod] [smallint] NOT NULL,
	[trfcod] [smallint] NOT NULL,
	[trfdes] [varchar](75) NOT NULL,
	[trfescala1] [int] NULL,
	[trfescala2] [int] NULL,
	[trfescala3] [int] NULL,
	[trfescala4] [int] NULL,
	[trfescala5] [int] NULL,
	[trfescala6] [int] NULL,
	[trfescala7] [int] NULL,
	[trfescala8] [int] NULL,
	[trfescala9] [int] NULL,
	[trfpromedio] [int] NULL,
	[trfFechaBaja] [datetime] NULL,
	[trfUsrBaja] [varchar](10) NULL,
	[trfctacon] [varchar](5) NULL,
	[trfUdsPorEsc] [bit] NOT NULL,
	[trfUdsPorPrecio] [bit] NOT NULL,
	[trfBonificable] [bit] NOT NULL,
	[trfFecUltMod] [datetime] NULL,
	[trfUsrUltMod] [varchar](10) NULL,
	[trfFecReg] [datetime] NULL,
	[trfUsrReg] [varchar](10) NULL,
	[trfCodDesglose] [smallint] NULL,
	[trfCB] [varchar](10) NULL,
	[trfAplicarEscMax] [bit] NOT NULL,
	[trfAplicarEscMin] [bit] NOT NULL,
 CONSTRAINT [PK_tarifas] PRIMARY KEY CLUSTERED 
(
	[trfsrvcod] ASC,
	[trfcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfsrvcod]  DEFAULT ((0)) FOR [trfsrvcod]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfUdsPorEsc]  DEFAULT ((1)) FOR [trfUdsPorEsc]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfUdsPorPre]  DEFAULT ((1)) FOR [trfUdsPorPrecio]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfBonificable]  DEFAULT ((0)) FOR [trfBonificable]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfAplicarEscMax]  DEFAULT ((0)) FOR [trfAplicarEscMax]
GO
ALTER TABLE [dbo].[tarifas] ADD  CONSTRAINT [DF_tarifas_trfAplicarEscMin]  DEFAULT ((0)) FOR [trfAplicarEscMin]
GO
ALTER TABLE [dbo].[tarifas]  WITH CHECK ADD  CONSTRAINT [FK_tarifas_servicios] FOREIGN KEY([trfsrvcod])
REFERENCES [dbo].[servicios] ([svccod])
GO
ALTER TABLE [dbo].[tarifas] CHECK CONSTRAINT [FK_tarifas_servicios]
GO
