USE [ACUAMA_AVG]
GO
/****** Object:  Table [dbo].[servicios]    Script Date: 15/02/2023 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicios](
	[svccod] [smallint] NOT NULL,
	[svcdes] [varchar](40) NOT NULL,
	[svctipo] [varchar](1) NOT NULL,
	[svcorden] [smallint] NULL,
	[svcimputacion] [varchar](14) NOT NULL,
	[svcctacon] [varchar](5) NULL,
	[svcPeriodico] [bit] NOT NULL,
	[svcLiquidable] [bit] NOT NULL,
	[svcImpTipo] [smallint] NULL,
	[svcActivo] [bit] NOT NULL,
	[svcLiqCod] [int] NULL,
	[svcUsrReg] [varchar](10) NULL,
	[svcFecReg] [datetime] NULL,
	[svcUsrUltMod] [varchar](10) NULL,
	[svcFecUltMod] [datetime] NULL,
	[svcOrgCod] [smallint] NULL,
	[svcSimular] [bit] NULL,
	[svcEntrega] [bit] NOT NULL,
	[svcFacTercero] [varchar](1) NOT NULL,
	[svcFacSujNoExe] [varchar](2) NULL,
	[svccauExVal] [varchar](2) NULL,
 CONSTRAINT [PK_servicios] PRIMARY KEY CLUSTERED 
(
	[svccod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[servicios] ([svccod], [svcdes], [svctipo], [svcorden], [svcimputacion], [svcctacon], [svcPeriodico], [svcLiquidable], [svcImpTipo], [svcActivo], [svcLiqCod], [svcUsrReg], [svcFecReg], [svcUsrUltMod], [svcFecUltMod], [svcOrgCod], [svcSimular], [svcEntrega], [svcFacTercero], [svcFacSujNoExe], [svccauExVal]) VALUES (1, N'CONSUMO DE AGUA', N'M', 5, N'01', N'', 1, 0, 2, 1, NULL, N'migracion', CAST(N'2019-03-07T22:59:47.457' AS DateTime), N'admin', CAST(N'2021-05-20T16:07:03.150' AS DateTime), NULL, 1, 0, N'N', N'S1', N'')
INSERT [dbo].[servicios] ([svccod], [svcdes], [svctipo], [svcorden], [svcimputacion], [svcctacon], [svcPeriodico], [svcLiquidable], [svcImpTipo], [svcActivo], [svcLiqCod], [svcUsrReg], [svcFecReg], [svcUsrUltMod], [svcFecUltMod], [svcOrgCod], [svcSimular], [svcEntrega], [svcFacTercero], [svcFacSujNoExe], [svccauExVal]) VALUES (2, N'CUOTA SERVICIO AGUA', N'U', 1, N'01', N'', 1, 0, 2, 1, NULL, N'migracion', CAST(N'2019-03-07T22:59:47.457' AS DateTime), N'admin', CAST(N'2020-02-10T13:32:32.353' AS DateTime), NULL, 0, 0, N'N', N'S1', N'')
INSERT [dbo].[servicios] ([svccod], [svcdes], [svctipo], [svcorden], [svcimputacion], [svcctacon], [svcPeriodico], [svcLiquidable], [svcImpTipo], [svcActivo], [svcLiqCod], [svcUsrReg], [svcFecReg], [svcUsrUltMod], [svcFecUltMod], [svcOrgCod], [svcSimular], [svcEntrega], [svcFacTercero], [svcFacSujNoExe], [svccauExVal]) VALUES (3, N'VERIFICACION CONTADOR / RESOLUCION J.A', N'U', 33, N'01', N'', 1, 0, 1, 1, NULL, N'migracion', CAST(N'2019-03-07T22:59:47.457' AS DateTime), N'admin', CAST(N'2020-02-10T13:36:17.140' AS DateTime), NULL, 0, 0, N'N', N'S1', N'')
GO
ALTER TABLE [dbo].[servicios] ADD  CONSTRAINT [DF_servicios_svcLiquidable]  DEFAULT ((0)) FOR [svcLiquidable]
GO
ALTER TABLE [dbo].[servicios] ADD  CONSTRAINT [DF_servicios_svcActivo]  DEFAULT ((1)) FOR [svcActivo]
GO
ALTER TABLE [dbo].[servicios] ADD  CONSTRAINT [DF_servicios_svcSimular]  DEFAULT ((0)) FOR [svcSimular]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ((0)) FOR [svcEntrega]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ('N') FOR [svcFacTercero]
GO
ALTER TABLE [dbo].[servicios]  WITH CHECK ADD  CONSTRAINT [FK_servicios_imputaciones] FOREIGN KEY([svcimputacion])
REFERENCES [dbo].[imputaciones] ([iptcod])
GO
ALTER TABLE [dbo].[servicios] CHECK CONSTRAINT [FK_servicios_imputaciones]
GO
ALTER TABLE [dbo].[servicios]  WITH CHECK ADD  CONSTRAINT [FK_servicios_organismos] FOREIGN KEY([svcOrgCod])
REFERENCES [dbo].[organismos] ([orgCodigo])
GO
ALTER TABLE [dbo].[servicios] CHECK CONSTRAINT [FK_servicios_organismos]
GO
