USE [ACUAMA_VALDALIGA]
GO
/****** Object:  Table [dbo].[SYR_457451]    Script Date: 11/07/2023 12:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYR_457451](
	[ctrcod] [int] NOT NULL,
	[ctrversion] [smallint] NOT NULL,
	[ctrNoEmision] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (22, 6, 1)
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (25, 5, 1)
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (41, 2, 1)
GO
