USE [ACUAMA_VALDALIGA]
GO
/****** Object:  Table [dbo].[SYR_457451]    Script Date: 11/07/2023 12:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYR_457451](
	[ctrcod] [int] NOT NULL,
	[ctrversion] [smallint] NOT NULL,
	[ctrNoEmision] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (1, 4, NULL)
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (2, 2, NULL)
INSERT [dbo].[SYR_457451] ([ctrcod], [ctrversion], [ctrNoEmision]) VALUES (3, 1, NULL)
GO
