<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DirectorioTrabajo" value="C:\GdeSousa\[DEV]\[20201216]GUADALAJARA_Apremios IncidenciaRedondeo[SYR-207165]\APREMIOS\"/>

  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>